# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
.gitignore
"\350\247\206\351\242\2211/src/img/"
"\350\247\206\351\242\2212/"